body{
  background-color: black;
  color: white;
}
.base {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: white;
  position: absolute;
}
.base:after {
  content: '';
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: white;
}
.base-full{
  border-bottom-color: blue;
}
.base-full:after{
  border-top-color: blue;
}
.first-base {
  top: 351px;
  left: 850px;
}
.second-base{
  top: 225px;
  left: 650px;
}
.third-base{
  top: 351px;
  left: 450px;
}
.outfield {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 700px solid transparent;
  border-right: 700px solid transparent;
  border-top: 700px solid green;
  border-radius: 50%;
}
.infield{
  position: absolute;
  top: 250;
  left: 250;
  width: 0;
  height: 0;
  border-left: 450px solid transparent;
  border-right: 450px solid transparent;
  border-top: 450px solid sandybrown;
  border-radius: 50%;
}
.home-plate {
  background: white;
  display: inline-block;
  height: 75px;
  width: 75px;
  position: absolute;
  top: 589px;
  left: 663px;
}
.home-plate:after {
  content: '';
  position: absolute;
  top: 75px;
  width: 0;
  height: 0;
  border: 37px solid transparent;
  border-top-color: white;
}
.circle{
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border-style: solid;
  background-color: black;
  display: inline-block;
}
.strike{
  border-color: red;
}
.ball{
  border-color: blue;
}
.score{
  position: absolute;
  text-align: center;
}
.score-1{
  left: 8px;
}
.score-2{
  left: 1300px;
}
#controls{
  width: fit-content;
  top: 700px;
  left: 530px;
  position: relative;
}
.inning{
  width: fit-content;
  left: 670px;
  position: absolute;
  text-align: center;
}
#counts{
  top: 675px;
  left: 595px;
  position: relative;
}