<html>
    <head>

    </head>
    <body>
        <h1>Tournaments</h1>
        <ul>
        {{#each tournaments}}
            <li>
                <a href="/showTournament?tournamentId={{this.id}}">{{this.name}}</a>
            </li>
        {{/each}}
        </ul>
        <h1>Teams</h1>
        <div>{{teams}}</div>
    </body>
</html>