<html>
    <head>
        <title>Register Tournament Fail</title>
    </head>
    <body>
    <h1>Error during registering</h1>
    <a href="/registerTournament">Try to Register Again</a>
    <a href="/">Go to Home</a>
    </body>
</html>