<html>
    <head>
        <title>Register Tournament Fail</title>
    </head>
    <body>
    {{!-- //go back to register team --}}
    <h1>Error during registering, please try again.</h1>
   
    </body>
</html>