<html>
    <head>

    </head>
    <body>
        <form method="POST">
            <p>Tournament Name</p>
            <input autocomplete="off" name="name">
            <button type="submit">Create Tournament</button>
        </form>
    </body>
</html>