<html>
    <head>

    </head>
    <body>
        <form method="POST">
            <input name="name">
            <input name="record" value="0-0" style="display: none;">
            <button type="submit"></button>
        </form>
    </body>
</html>