<html>
    <head>

    </head>
    <body>
        <h1>{{tournament.name}}</h1>
        <h3>Teams Registered</h3>
        <!-- insert each team here -->
        <button href="/registerTeam?tournament_id=tournament.id">Register Team</button>
    </body>
</html>