<html>
    <head>
        <link rel="stylesheet" href="css/showGame.css">
    </head>
    <body>
        <div class="field">
            <div class="outfield"></div>
            <div class="infield"></div>
            <div class="base first-base"></div>
            <div class="base second-base"></div>
            <div class="base third-base"></div>
            <div class="home-plate"></div>
        </div>
        <div id="scores">
            <div class="score score-1">
                <h4 id="team-name-1">Team Name 1</h4>
                <h1 id="team-score-1">0</h1>
            </div>
            <div class="score score-2">
                <h4 id="team-name-2">Team Name 2</h4>
                <h1 id="team-score-2">0</h1>
            </div>
        </div>
        <div class="inning">
            <h4>Inning</h4>
            <h1 id="inning">1</h1>
        </div>
        <div id="controls" data-hitting="1">
            <button>Add Ball</button>
            <button>Add Strike</button>
            <button>Hit</button>
            <button>Out</button>
            <button>Home Run</button>
        </div>
    </body>
</html>