<html>
    <head>
        <link rel="stylesheet" href="css/showGame.css">
    </head>
    <body>
        <div class="field">
            <div class="outfield"></div>
            <div class="infield"></div>
            <div class="base first-base"></div>
            <div class="base second-base"></div>
            <div class="base third-base"></div>
            <div class="home-plate"></div>
        </div>
    </body>
</html>