<html>
    <head>
        <link rel="stylesheet" href="css/showGame.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="field">
            <div class="outfield"></div>
            <div class="infield"></div>
            <div class="base first-base"></div>
            <div class="base second-base"></div>
            <div class="base third-base"></div>
            <div class="home-plate"></div>
        </div>
        <div id="scores">
            <div class="score score-1">
                <h4 id="team-name-1">Team Name 1</h4>
                <h1 id="team-score-1">0</h1>
            </div>
            <div class="score score-2">
                <h4 id="team-name-2">Team Name 2</h4>
                <h1 id="team-score-2">0</h1>
            </div>
        </div>
        <div class="inning">
            <h4>Inning</h4>
            <h1 id="inning">1</h1>
        </div>
        <div id="counts">
            <div style="display: inline-flex;">
                <div id="strikes" class="strikes" data-count="0">
                    <h3>Strikes</h3>
                    <div id="s1" class="circle strike"></div>
                    <div id="s2" class="circle strike"></div>
                    <div id="s3" class="circle strike"></div>
                </div>
                <div id="balls" class="balls" data-count="0">
                    <h3 style="text-align: right;">Balls</h3>
                    <div id="b1" class="circle ball"></div>
                    <div id="b2" class="circle ball"></div>
                    <div id="b3" class="circle ball"></div>
                    <div id="b4" class="circle ball"></div>
                </div>
            </div><br>
            <button id="reset-counts">Reset Counts</button>
        </div>
        <div id="controls" data-hitting="1">
            <button id="strike">Add Strike</button>
            <button id="ball">Add Ball</button>
            <button id="hit">Hit</button>
            <button id="out">Out</button>
            <button id="run">Home Run</button>
        </div>
    </body>
</html>
<script>
    $('#strike').click(function(){
        var count = parseInt($('#strikes').attr('data-count'));
        switch(count){
            case 0:
                $('#s1').css('background-color','red');
                break;
            case 1:
                $('#s2').css('background-color','red');
                break;
            case 2:
                $('#s3').css('background-color','red');
                break;
            default:
                console.log('something went wrong');
                break;
        }
        $('#strikes').attr('data-count',count + 1);
    });
    $('#ball').click(function(){
        var count = parseInt($('#balls').attr('data-count'));
        switch(count){
            case 0:
                $('#b1').css('background-color','blue');
                break;
            case 1:
                $('#b2').css('background-color','blue');
                break;
            case 2:
                $('#b3').css('background-color','blue');
                break;
            case 3:
                $('#b4').css('background-color','blue');
                break;
            default:
                console.log('something went wrong');
                break;
        }
        $('#balls').attr('data-count',count + 1);
    });
    $('#reset-counts, #hit, #out').click(function(){
        $('.circle').css('background-color','black');
        $('#strikes').attr('data-count',0);
        $('#balls').attr('data-count',0);
    });
    
</script>