<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="../scripts/showTournament.js"></script>
        <script type="text/javascript" src="../scripts/util.js"></script>
    </head>
    <body>
        <h1>{{tournament.name}}</h1>
        <h3>Teams Registered</h3>
        <!-- insert each team here -->
        <button id="register-team">Register Team</button>
    </body>
</html>