<html>
    <head>
        <link rel="stylesheet" href="css/showGame.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="field">
            <div class="outfield"></div>
            <div class="infield"></div>
            <div class="base first-base"></div>
            <div class="base second-base"></div>
            <div class="base third-base"></div>
            <div class="home-plate"></div>
        </div>
        <div id="scores">
            <div class="score score-1">
                <h4 id="team-name-1">Team Name 1</h4>
                <h1 id="team-score-1">0</h1>
            </div>
            <div class="score score-2">
                <h4 id="team-name-2">Team Name 2</h4>
                <h1 id="team-score-2">0</h1>
            </div>
        </div>
        <div class="inning">
            <h4>Inning</h4>
            <h1 id="inning" data-status="top">Top 1</h1>
        </div>
        <div id="counts">
            <div style="display: inline-flex;">
                <div id="strikes" class="strikes" data-count="0">
                    <h3>Strikes</h3>
                    <div id="s1" class="circle strike"></div>
                    <div id="s2" class="circle strike"></div>
                    <div id="s3" class="circle strike"></div>
                </div>
                <div id="balls" class="balls" data-count="0">
                    <h3 style="text-align: right;">Balls</h3>
                    <div id="b1" class="circle ball"></div>
                    <div id="b2" class="circle ball"></div>
                    <div id="b3" class="circle ball"></div>
                    <div id="b4" class="circle ball"></div>
                </div>
            </div><br>
            <div>
                <div id="outs" class="outs" data-count="0">
                    <h3>Outs</h3>
                    <div id="o1" class="circle out"></div>
                    <div id="o2" class="circle out"></div>
                    <div id="o3" class="circle out"></div>
                </div>
            </div><br>
            <button id="reset-counts">Reset Counts</button>
        </div>
        <div id="controls">
            <button id="strike">Add Strike</button>
            <button id="ball">Add Ball</button>
            <button id="hit">Hit</button>
            <button id="out">Out</button>
            <button id="run">Home Run</button>
        </div>
    </body>
</html>
<script>
    $('#strike').click(function(){
        var count = parseInt($('#strikes').attr('data-count'));
        var flag = false;
        switch(count){
            case 0:
                $('#s1').css('background-color','red');
                break;
            case 1:
                $('#s2').css('background-color','red');
                break;
            case 2:
                $('#s3').css('background-color','red');
                flag = true;
                addOut();
                break;
            default:
                console.log('something went wrong');
                break;
        }
        if(!flag){
            $('#strikes').attr('data-count',count + 1);
        }
    });
    $('#ball').click(function(){
        var count = parseInt($('#balls').attr('data-count'));
        var flag = false;
        switch(count){
            case 0:
                $('#b1').css('background-color','blue');
                break;
            case 1:
                $('#b2').css('background-color','blue');
                break;
            case 2:
                $('#b3').css('background-color','blue');
                break;
            case 3:
                $('#b4').css('background-color','blue');
                flag = true;
                clearCounts();
                break;
            default:
                console.log('something went wrong');
                break;
        }
        if(!flag){
            $('#balls').attr('data-count',count + 1);
        }
    });
    $('#reset-counts, #hit, #out').click(function(){
        clearCounts();
    });
    function clearCounts(){
        $('.strike, .ball').css('background-color','black');
        $('#strikes').attr('data-count', 0);
        $('#balls').attr('data-count', 0);
    }
    function addOut(){
        var count = parseInt($('#outs').attr('data-count'));
        var flag = false;
        switch(count){
            case 0:
                $('#o1').css('background-color','white');
                break;
            case 1:
                $('#o2').css('background-color','white');
                break;
            case 2:
                $('#o3').css('background-color','white');
                flag = true;
                switchInning();
                $('.out').css('background-color','black');
                break;
            default:
                console.log('something went wrong');
                break;
        }
        if(!flag){
            $('#outs').attr('data-count', count + 1);
        }else{
            $('#outs').attr('data-count', 0);
        }
        clearCounts();
    }
    function switchInning(){
        var state = $('#inning').attr('data-status');
        var inning = parseInt($('#inning').html().split(' ')[1]);
        if(state=='top'){
            $('#inning').attr('data-status', 'bot');
            $('#inning').html('Bot ' + inning);
        }else{
            $('#inning').attr('data-status', 'top');
            $('#inning').html('Top ' + (inning + 1));
        }
    }
</script>