<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="../scripts/showTournament.js"></script>
        <script type="text/javascript" src="../scripts/util.js"></script>
    </head>
    <body>
        <h1>{{tournament.name}}</h1>
        <h3>Teams Registered</h3>
        <ul>
            {{#each teams}}
                <li>
                    <a class="team">{{this.name}}</a>
                </li>
            {{/each}}
        </ul>
        <button id="register-team">Register Team</button>
        <h3>Games for this Tournament</h3>
        <ul>
            {{#each games}}
            <li>
                <a class="game">{{this.id}}</a>
            </li>
            {{/each}}
        </ul>
        <button id="make-bracket">Make Bracket</button>
    </body>
</html>